[data-type="sortabrilliant/card-catalog"] {

    .components-placeholder:not(.is-appender) {
        margin-bottom: 0;
    }

    .is-style-grid-view {
        .wp-block-file__button-richtext-wrapper {
            margin-top: 0;
        }

        .wp-block-file__copy-url-button {
            margin: 1em 0 0;
        }
    }
}
