.wp-block-sortabrilliant-card-catalog {
    &:not(.is-style-default) .wp-block-file {
        margin-bottom: 0;

        .wp-block-file__button {
            padding: 0;
            margin: 0;
            background: none;
            color: inherit;
        }
    }
}
